@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    font-family: "Roboto", serif;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
}
.hero{
    width: 100%;
    height: 90vh;
    display: flex;
    margin: auto;
    flex-direction: row;
}
.hero img{
    width: 40%;
    height: 100%;
}
.details{
    margin: 50px 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* align-items: center; */
}
.details h2{
    font-size: 30px;
    height: 30px;
    padding-left: 10px;
    border-left: 5px solid rgba(0, 0, 0, 0.303);
    color: rgb(84 66 226 / 87%);
}
.quiz-grid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    gap: 10px;
}
.quiz{
    width: 48%;
    height: 180px;
    border: 1px solid gray;
    border-radius: 20px;
    cursor: pointer;
}
#chemistry{
    background-image: url("https://i.pinimg.com/736x/24/29/01/242901b158f15a2e68cf26eaeb29800c.jpg");
    background-size: cover;
    transition: all ease-in-out 0.5s;
}
#chemistry:hover{
    background-position: center;
}
#Mathematics{
    background-image: url("https://i.pinimg.com/736x/9e/56/7d/9e567dd3a19655e9773144d94ed1daf7.jpg");
    background-size: cover;
    background-position: bottom;
    transition: all ease-in-out 0.5s;
}
#Mathematics:hover{
    background-position: center;
}
#Histry{
    background-image: url("./History.png");
    background-size: cover;
    background-position: bottom;
    transition: all ease-in-out 0.5s;
}
#Histry:hover{
    background-position: center;
}

#Technology{
    background-image: url("./Technology.png");
    background-size: cover;
    transition: all ease-in-out 0.5s;
}
#Technology:hover{
    background-position: center;
}
#Physics{
    background-image: url("https://i.pinimg.com/736x/21/bf/cd/21bfcdfeec2b91660fce7d3774055e04.jpg");
    background-size: cover;
    background-position: bottom;
    transition: all ease-in-out 0.5s;
}
#Physics:hover{
    background-position: center;
}
#Biology{
    background-image: url("https://i.pinimg.com/736x/4f/88/7f/4f887ffe36c5ad8df58bae00f51a3bcb.jpg");
    background-size: cover;
    background-position: bottom;
    transition: all ease-in-out 0.5s;
}
#Biology:hover{
    background-position: center;
}
.quiz-section{
    overflow-y: hidden;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.quiz-container{
    width: 50%;
    border: 2px solid antiquewhite;
    padding: 10px;
}
.quiz-container h2{
    border-left: 4px solid blue;
    padding-left: 10px;
}
#option{
    padding-left: 5px;
}
#option p{
    padding: 15px;
    border: 2px solid gray;
    border-radius: 20px;
}
#option p:hover{
    background-color: #9ea8ff;
}
.selected{
    background-color: #5162ff;
    color: #ffff;
}
button{
    border: none;
    background-color: cornflowerblue;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 40px;
    border-radius: 20px;
}